<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> 測試 Node.js by Jacky </p>
    <p> 測試 Deploy </p>
    <p> 測試 git push 是否會觸發 deployment </p>
  </body>
</html>
